.title-label {
    -fx-font-size: 16px;
    -fx-padding: 14px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.jfx-tool-bar {
    -fx-font-size: 20.0;
    -fx-font-weight: BOLD;
    -fx-background-color: #0288D1;
    -fx-pref-width: 100.0%;
    -fx-pref-height: 64.0px;
}

.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 25.0;
    -fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label {
    -fx-text-fill: WHITE;
}

.jfx-tool-bar .jfx-options-burger {
    -fx-padding: 22px;
}

.jfx-tool-bar .jfx-options-burger StackPane {
    -fx-pref-width: 4px;
}

.jfx-tool-bar .jfx-rippler {
    -jfx-rippler-fill: WHITE;
}

/*!********************************************************************************/
/**                                                                              **/
/** JFX Decorator                                                                **/
/**                                                                              **/
/********************************************************************************!*/

.jfx-decorator {
    -fx-decorator-color: derive(#00AACF, -30%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}
/*!********************************************************************************/
/**                                                                              **/
/** Background                                                           **/
/**                                                                              **/
/********************************************************************************!*/

.custom-jfx-root .title-label {
    -fx-background-color: #00AACF;
    -fx-effect:dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5);
    -fx-background-radius: 3;
}
.jfx-snackbar-content {
    -fx-background-color: #323232;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

/*!********************************************************************************/
/**                                                                              **/
/** Error Facade                                                                 **/
/**                                                                              **/
/********************************************************************************!*/

.error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
}

.error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error, .jfx-combo-box:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1em;
}